@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to top, rgb(23, 118, 139), rgb(9, 48, 56));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: var(--primary-color-darker);
}

.container {
    position: relative;
    top: 8%;
    max-width: 640px;
    margin: 0px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    padding: 17px 10px;
}

label {
    font-size: 0.8em;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

form input,
form button {
    font-size: 20px;
    height: 45px;
    padding: 0 20px;
    border: none;
    background-color: rgb(220, 231, 235);
    box-shadow: 1px 1px 3px rgb(163, 196, 204);

}

form input:focus {
    outline: 1px solid var(--primary-color);
    box-shadow: 1px 1px 10px rgb(163, 196, 204);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

form button:hover {
    background: var(--primary-color-darker);
    transition: 300ms ease-in-out;
    transform: scale(1.05);
}

.error-text {
    font-size: 12px;
    color: rgb(209, 1, 1);
}